{#
/**
 * @file
 * Default theme implementation of rfn_sharing_buttons.
 *
 * Available variables:
 * - title: the title of the node.
 * - url: the url to link for sharing
 *
 * @ingroup themeable
 */
#}

{{ attach_library('rfn_sharing/rfn_sharing') }}


<p><a class="use-ajax" data-dialog-type="modal" href="/rfn-sharing/modal">Test...</a></p>
<div class="rfn-sharing-wrapper" {{attributes}}>
    <div class="rfn-sharing-button" {{attributes}>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&title={{ title }}" target="_blank" title="{{ 'Share to'|t }} Facebook" aria-label="{{ 'Share to'|t }} Facebook" {{attributes}} >
            <img src="{{iconpath}}/facebook.svg" title="{{'Share to Facebook' |t}}" style="width: 30px; height: 30px;"/>
        </a>
    </div>  
</div>
